@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .app {
        @apply flex items-center justify-center min-h-screen bg-gray-50
    }
    .btn{
        @apply flex gap-2 items-center justify-center py-2 px-4 font-semibold shadow-md rounded-md
    }
    .btn.btn-right {
        @apply bg-white text-gray-500
    }
    .btn.btn-danger {
        @apply text-white bg-red-600 shadow-red-400/40
    }
    
}


* {
    @apply transition-colors duration-200;
}